body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.copyright {
  text-align: center;
  font-size: small;
  color: grey;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none;
}

h1, h2 {
  text-align: center;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input {
  width: 50%;
  padding: 8px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #72a8e1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#numPlayers {
  margin-top: 10px;
}

.stepButton {
  margin: 20px 0 10px;
}

#handStep {
  display: flex;
}

#handStep > button {
  margin: 20px 10px 10px;
}


button:hover {
  background-color: #72a8e1;
}

#numPlayersDefinition {
  text-align: center;
}

#playerInputs {
  text-align: center;
}

.mb-10 {
  margin-bottom: 10px;
}

.playerTotalPoints {
  padding: 10px;
  width: 100px; 
  border: black 1px solid; 
  margin: 2px;
  border-radius: 5px;
  flex-grow: 1;
}

.playerNameTotalPoints {
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #72a8e150;
}

tr#totalRow {
  font-weight: bold;
  background-color: #f2f2f2;
}

#historyContainer h3 {
  margin: 0 0 10px;
}

input[type="checkbox"] {
  height: 25px;
  accent-color: green;
}

.bazaCell {
  display: flex;
}

.bazaButton {
  width: 50px;
  margin: 0px 5px;
}

/* Desktop only */
@media only screen and (min-width: 600px) {
  .bazaCell > input {
    margin-right: 10px;
  }

  body {
    padding: 20px;
  }

  #numPlayers {
    width: 50%;
  }  

  .bazaButtons {
    display: flex;
  }
}

/* Mobile only */
@media only screen and (max-width: 600px) {
  body {
    padding: 5px;
    margin: 5px 0;
  }

  #numPlayers {
    width: 80%;
  }

  th, td {
    padding: 5px;
  }

  .bazaCell {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bazaButtons {
    display: flex;
    flex-direction: column-reverse;
  }

  .bazaButton {
    width: 60px;
    height: 45px;
    margin: 5px;
  }

  .bazaCell > input {
    margin-bottom: 5px;
  }

  .stepButton {
    padding: 15px;
  }
}