body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none;
}

h1, h2 {
  text-align: center;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input {
  width: 50%;
  padding: 8px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #72a8e1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.stepButton {
  margin: 20px 0 10px;
}

#handStep {
  display: flex;
}

#handStep > button {
  margin: 20px 10px 10px;
}


button:hover {
  background-color: #72a8e1;
}

#numPlayers {
  width: 25%;
}

.listPlayerTotalPoints {
  display: flex;
}

.mb-10 {
  margin-bottom: 10px;
}

.playerTotalPoints {
  padding: 10px;
  width: 100px; 
  border: black 1px solid; 
  margin: 2px;
  border-radius: 5px;
  flex-grow: 1;
}

.playerNameTotalPoints {
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

tr#totalRow {
  font-weight: bold;
}

#historyContainer h3 {
  margin: 0 0 10px;
}

input[type="checkbox"] {
  height: 25px;
  accent-color: green;
}

.bazaCell {
  display: flex;
}

.bazaCell > input {
  margin-right: 10px;
}

.bazaButton {
  width: 50px;
  margin: 0px 5px;
}
